@model Lab1_4.Models.Entity.Reservation
@{
    Layout = "_Layout";
    ViewData["Title"] = "Book Room";
}


<h2>Book Room</h2>

<form asp-action="Create" asp-controller="Reservation" method="post">
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" name="StartDate" required class="form-control" />
    </div>

    <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" name="EndDate" required class="form-control" />
    </div>

    <input type="hidden" name="RoomId" value="@ViewData["RoomId"]" />
    <input type="hidden" name="UserId" value="@ViewData["UserId"]" />

    <button type="submit" class="btn btn-primary">Book</button>
</form>
