@model IEnumerable<Lab1_4.Models.Entity.Room>

@{
    Layout = "_Layout";
    ViewData["Title"] = "All Rooms";
}

<div>
    <h2>All Rooms</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Room Number</th>
            <th>Category</th>
            <th>Price</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
