@model IEnumerable<Lab1_4.Models.Entity.Room>

@{
    Layout = "_Layout";
    ViewData["Title"] = "AllRooms";
}

<div>
    <h2>All Rooms</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Room Number</th>
            <th>Category</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>@room.Id</td>
                <td>@room.Category</td>
                <td>@room.Price</td>
                <td>@(room.IsAvailable ? "Available" : "Booked")</td>
            </tr>
        }
        </tbody>
    </table>
</div>